@font-face {
  font-family: digitalClock;
  src: url("./digital.ttf");
}
* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.container {
  margin: 10vh auto;
  color: yellow;
  text-align: center;
  /* width: 50%; */
  font-size: 8rem;
}

.time {
  margin: 2px auto;
  /* color: red; */
  font-family: digitalClock;
  /* font-size: 8rem; */
  letter-spacing: 3px;
}
.date {
  margin: 2px auto;
  /* color: yellow; */
  font-family: digitalClock;
  /* font-size: 8rem; */
}
.day {
  margin: 2px auto;
  font-family: digitalClock;
  /* font-size: 8rem; */
  animation: changeColor 2s linear infinite;
}
.wrapperStopwatch {
  text-align: center;
  font-size: 2rem;
  font-family: digitalClock;
  color: white;
}
.wrapperStopwatch button {
  font-family: "Times New Roman", Times, serif, Helvetica, sans-serif;
  background-color: black;
  color: white;
}
@keyframes changeColor {
  100% {
    /* filter: hue-rotate(360deg); */
  }
}
@media (max-width: 600px) {
  .container {
    color: rgb(129, 214, 18);
    font-size: 3rem;
  }
}
